@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body
{
    font-family: 'PT Sans', sans-serif;
}

.menu {
    padding: 1%;
    background-color: rgba(235, 235, 235, 0.8);
    text-align: center; 
}

.menu__links-item {
    margin-left: 7%;
    display: inline-block;
    color: #313131;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}
.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    margin-left: 90%;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 85%;
    background: #313131;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}
@media screen and (max-width: 999px) {
    .menu__icon{
      display: inline-block;
    }
    
    .menu__links {
      position: fixed;
      display: none;
      top: 0;
      right: 0;
      left: 0;
      margin-top: 52px;
      background-color: rgba(235, 235, 235, 0.8);
      z-index: 1000;
      overflow: auto;
    }
    
    .menu__links-item {
      display: block;
      padding: 10px 0;
      text-align: center;
      color: #313131;
    }
  }
.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;  
}
#mainslider
{
    height: 20%;
}
.bd-example

{
    height: 450px;
}

.form-control {
    background-color: rgb(230, 240, 240);
}

.page-footer {
    background-color: rgba(235, 235, 235, 0.8);
}

a {
color: #6299cc;
}